@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-size: 11pt;
    overflow: hidden;
}

html {
    color: #777;
}

.viewer-container {
    overflow: hidden;
}

.viewer {
    position: absolute;
    width: 65%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 40px;
    padding-right: 30px;
}

.minimap {
   position: absolute;
   height: 100%;
   margin: 0 5px 0 5px;
}

.minimap-node {
    width: 30px;
    position: relative;
    background-color: #f2f2f2;
    margin-bottom: 1px;
}

.text-segment {
    opacity: 1 !important;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #d9d9d9;
    border: none !important;
}

.minimap .visible-area:hover {
    opacity: 0.5;
    cursor: pointer;
}
.minimap .visible-area {
    background-color: #000;
    z-index: 2;
    margin-left: -5px;
    opacity: 0.3;
    width: 40px;
    position: absolute;
    left: 0;
    right: 0;
}


#side {
    position: absolute;
    border-left: 1px solid #ddd;
    background-color: white;
    padding: 0.5em;
    top: 0;
    left: calc(65% - 15px);
    width: calc(35% + 15px);
    z-index: 100;
    height: 100%;
    overflow: auto;
}

#side form {
    border-bottom: 1px solid #ddd;
    width: 90%;
    padding-bottom: 0.5em;
}

.page {
    direction: ltr;
    background-color: white;
    background-clip: content-box;
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
}

.block {
    margin: 1em 1em 2em 1em;
}

span.head {
    font-weight: bold;
    font-variant: small-caps;
}

.block h4 {
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.block h4 a {
    font-family: 'Montserrat', 'Source Sans Pro', sans-serif;
    display: block;
    font-weight: 400;
    min-height: 60px;
    line-height: 21px;
    font-size: 16px;
    padding: 10px 20px;
    color: #444;
    background: rgba(0,0,0,0.1);
}

.block h4 a:hover {
    background: rgba(0,0,0,0.15);
}

.block .content {
    padding: 10px 20px;
    border: solid 1px #ddd;
    border-top: none;
}

::selection { background:rgba(0,0,255,0.3); }
::-moz-selection { background:rgba(0,0,255,0.3); }

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;
}

.textLayer > span {
    color: transparent;
    position: absolute;
    line-height: 1;
    white-space: pre;
    cursor: text;
}

.annotated {
    opacity: 0.1;
    margin: -1px;
    padding: 1px;
}
